.footer{
	border-top: 1px solid #eee;
	.copy{
		background: #00355b;
	}
	h4{
		margin: 0;
		font-size: 14px;
		line-height: 24px;
		color: #212934;
		font-weight: normal;
	}
}
.col_nav{
	@include media-breakpoint-up(lg) {
		max-width: 200px;
		flex:0 0 200px;
	}
	li{
		padding-bottom: 6px;
		&.active{
			a{
				color: #28c4f4;
			}
		}
	}
	a{
		color: #212934;
		&:hover{
			text-decoration: none;
			color: #28c4f4;
		}
	}
}
.col_etc{
	max-width: 800px;
	width: 100%;
}
.list_soc{
	a{
		display: block;
		font-size: 0;
		line-height: 0;
	}
	i{
		font-size: 25px;
		line-height: 0;
		color: #00355b;
	}
}
.list_contact{
	color: #212934;
	margin-top: 0;
	li{
		padding-top: 7px;
	}
	i{
		font-size: 17px;
		color: #00355b;
		display: inline-block;
		position: relative;
		top: 3px;
		line-height: 0;
		margin-right: 4px;
	}
	a{
		color: #1571ae;
	}
}